html,
body {
  height: 100%;
  margin: 0;

}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: #CDA4C8; */

}

#wrapper {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  padding: 9px;


  /* position: absolute; */
  /* bottom: 0;
  width: 100%;
  padding : 9px; */
  /* margin-top : 7%; */

  /* position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999; */

}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-link {
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  /* border: solid black 1px;
  border-radius: 10px; */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.space-for-footer {
  height: 140px;
}


.navbar-logo {
  text-transform: uppercase;
  text-shadow: #9c23cf 0px 0px 5px;
  font-size: x-large;
  color: #9c23cf;
  font-weight: 800;
  font-family: 'Times New Roman', Times, serif;
}

.analytics-table {
  overflow: hidden;
}

.analytics-table h4 {
  padding: 8px;
  background-color: #282c34;
  color: white;
}